<header id="header" class="header d-flex align-items-center">
	<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
		{% if page.logo %}
			{{ page.logo }}
		{% endif %}
		{# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div class="navbar" id="navbar">
			{% if page.navigation %}
				{{ page.navigation }}
			{% endif %}
		</div> #}
		{# bn #}
	  <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <div id="navbar" class="navbar">
     		{% if page.navigation %}
				{{ page.navigation }}
			{% endif %}
      </div><!-- .navbar -->
		{# bn #}
	</div>
</header>
<!-- End Header -->
{% include '@business_dev/template-parts/content_top.html.twig' %}
<div class="container-xl clearfix">
	<div class="row">
		<div class="col-12">
			<main class="page-content clearfix" role="main">
				{% if page.content %}
					{{ page.content }}
				{% endif %}
			</main>
		</div>
	</div>
</div>
<footer class="footer-distributed" {% if footer_bg_color %} style="background-color:{{ footer_bg_color }}" {% else %} style="background-color:#181d30" ; {% endif %}>
	<div class="container-xl">
		<div class="row">
			<div class="col-12">
				<div class="footer-left col-4">
					{% if logo_footer %}
						<a href="{{ path('<front>') }} class='company-logo'">
							<img src="{{ logo_footer }}" alt="{{ 'footer logo'|t }}" ">
						</a>
					{% endif %}
					{% if page.footer_links %}
						{{ page.footer_links }}
					{% endif %}
					{% if page.site_name %}
						{{ page.site_name }}
					{% endif %}
				</div>

				<div class="footer-center col-4">
					<div>
						{% if address %}
							<i class="fa fa-map-marker"></i>
							<p>{{ address|raw }}</p>
						{% endif %}
					</div>
					<div>
						{% if phone_number %}
							<i class="fa fa-phone"></i>
							<p>{{ phone_number }}</p>
						{% endif %}
					</div>
					<div>
						{% if email_url and email %}
							<i class="fa fa-envelope"></i>
							<p>
								<a href="{{ email_url }}">{{ email }}</a>
							</p>
						{% endif %}
					</div>
				</div>

				<div class="footer-right col-4">
					<p class="footer-company-about">
						{% if label %}
							<span>{{ label }}</span>
						{% endif %}
						{% if details %}
							{{ details }}
						{% endif %}
					</p>

					<div class="footer-icons">
						{% if facebook %}
							<a href="{{ facebook }}">
								<i class="fab fa-facebook"></i>
							</a>
						{% endif %}

						{% if twitter %}
							<a href="{{ twitter_url }}">
								<i class="fab fa-twitter"></i>
							</a>
						{% endif %}

						{% if linkedin %}
							<a href="{{ linkedin }}">
								<i class="fab fa-linkedin"></i>
							</a>
						{% endif %}

						{% if instagram %}
							<a href="{{ instagram }}">
								<i class="fab fa-instagram"></i>
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				{% if copyright_text %}
					{{ copyright_text|raw }}
				{% endif %}
			</div>
		</div>
	</div>
</footer>
