<section id="hero" class="hero">

	<div class="info d-flex align-items-center">
		<div class="container-xl">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					{% if heading %}
						<h2 data-aos="fade-down">{{ heading|raw }}</span>
					</h2>
				{% endif %}
				{% if discription %}
					<p data-aos="fade-up">{{ discription }}</p>
				{% endif %}
				{% if button_url and button_title %}
					<a data-aos="fade-up" data-aos-delay="200" href="{{ button_url }}" class="btn-get-started">{{ button_title }}</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
	{% if imageUrls %}
		{# {{ dump(imageUrls) }} #}
		{% for slide_image_url in imageUrls %}

			{% if loop.first %}
				<div class="carousel-item active" style="background-image: url({{ slide_image_url }})"></div>
			{% else %}
				<div class="carousel-item" style="background-image: url({{ slide_image_url }})"></div>
			{% endif %}
		{% endfor %}
	{% endif %}
	<a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
		<span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
	</a>

	<a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
		<span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
	</a>
</div></section>
