<div{{ attributes.addClass('block') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div class="block-content">
  {% block content %}
    {{ content }}
  {% endblock %}
  </div>
</div> <!--/.block-content -->
