{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A flat list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items, if any.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *   - is_active: TRUE if the link is in the active trail.
 *   - attributes: A list of HTML attributes for the menu item.
 *   - below: The menu item child items, if any.
 *
 * @see template_preprocess_menu_tree()
 */
#}
<nav{{ attributes.addClass('menu', 'menu--' ~ menu_name) }}>
  <ul{{ menu_attributes }}>
    {%
    set menu_classes = [
      ''
    ]
    %}
    {%
    set item_classes = [
      ''
    ]
    %}
    {% for item in items %}
      {%
      set item_classes = [
        ''
      ]
      %}
      {%
      set link_classes = [
        ''
      ]
      %}
      <li{{ item.attributes.addClass(menu_classes, 'menu-item--' ~ item.plugin_id) }}>
        <span class="{{ item_classes|join(' ') }}">
          {%
          set link_options = item.link.localized_options
          %}
          {%
          set link_text_classes = [
            ''
          ]
          %}
          <a href="{{ item.url }}"{{ item.attributes.addClass(link_classes) }}>
            <span class="{{ link_text_classes|join(' ') }}">{{ item.title }}</span>
          </a>
        </span>
      </li>
      {% if not loop.last %}
        <li class="menu-item__separator">|</li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
