{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
	{% import _self as menus %}
	 {% if items %}
	  <ul {{ attributes.addClass('', primary_nav_level) }}>
        {% set attributes = attributes.removeClass(primary_nav_level) %}

		{% for item in items %}
			  {% if menu_level == 0 %}

			  {%
               set item_classes = [
               'nav-item',
               item.is_expanded ? 'dropdown',
               item.is_collapsed ? 'dropdown',
			   item.in_active_trail ? 'active',
               ]
              %}
			  <li{{item.attributes.addClass(item_classes)}}>
			  	  {% elseif  menu_level == 1 %}
			  	   {%
                    set link_classes = [
                    'nav-link',
					link.in_active_trail ? 'active',
                    ]
                   %}
			  		<li{{item.attributes.addClass(item_classes)}}>
					{% endif %}
					{% if item.below %}
					<a href="#">
					<span>{{ item.title }}</span><i class="bi bi-chevron-down dropdown-indicator"></i>
					</a>
						{{ menus.menu_links(item.below, attributes, menu_level + 1)  }}
					{% else %}
				    {{ link(item.title, item.url, attributes.addClass(link_classes)) }}
					{% endif %}
					</li>
		{% endfor %}
		</ul>
       {% endif %}

	{% endmacro %}
